# Sistema operacional

.DS_Store
Thumbs.db

# VS Code

.vscode/

# Logs

*.log

# Arquivos temporários

*.tmp
*.temp

# Dependências futuras

node_modules/

# Variáveis de ambiente

.env

# Cache

.cache/
dist/
build/

# Arquivos de backup

*.bak
*.old
